*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#game-container{
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: black;
}

.game-starting-section{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/react-ecommerce-b9a25.appspot.com/o/background.jpg?alt=media&token=c057a51c-f810-4533-8b26-1a3feab02ccd");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#game-title-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-title{
  font-size: 60px;
  text-shadow: 4px 4px black;
}

#start-btn{
  font-size: 25px;
}

#storyline-container{
  height: 100vh;
}

#game-description{
  margin: 0 20%;
  text-align: left!important;
}

#description-control{
  font-size:20px;
}

#decision-section{
  margin: 0 20%;
  margin-top: 30px;
}

#option1{
  margin-right: 40px;
}

.game-option{
  font-size: 25px;
  margin-top: 15px;
}